/* General */

.container {
    width: 900px;
}

#header h1 {
    display: inline-block;
}

/* Bar chart */

.bar {
    fill: steelblue;
}

.bar:hover {
    fill: brown;
}

.axis {
    font-size: 10px;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}